body{
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#switch{
    appearance: none;
    -webkit-appearance: none;
    width: 100px;
    height: 50px;
    background-color: #c6c6c6;
    border-radius: 30px;
    border: 1px solid gray;
    outline: none;
    position: relative;
    transition: 200ms;
}
#switch:checked{
    background-color: #4ED163;
    border: 1px solid #4ED163;
}
#switch::before{
    content: '';
    width: 48px;
    height: 48px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    left: 0;
    top: 0;
    transition: 200ms;
}
#switch:checked::before{
   left: 50px;
}